---
extends:
  - formidable/configurations/es6-react
  - prettier

plugins:
  - prettier

rules:
  quotes: ["error", "single", { allowTemplateLiterals: true }]
  object-property-newline: ["error", { allowAllPropertiesOnSameLine: true }]
  prettier/prettier: "error"
